.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.modal-bottom {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  margin: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
h4 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
h5 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

#dropdown-button-drop-up {
  background-color: #235494;
  border-color: white;
  font-family: "Raleway", sans-serif;
}

.modal-body {
  border-color: white;
  font-family: "Raleway", sans-serif;
}

.dropdown-menu.show {
  background-color: #235494bb;
}

.dropdown-item {
  color: white;
  font-family: "Raleway";
}

.leaflet-popup-content-wrapper {
  background-color: #23549477;
  color: white;
}

.modal-content {
  background-color: #235494aa;
  color: #ffffff;
}

.list-group button {
  background-color: #235494;
  color: white;
}

popup p {
  font-size: medium;
}

.close {
  color: #ffffff;
  opacity: 1;
}

button .close :hover {
  color: #ffffff;
}

.logo-btm {
  opacity: 0.2;
  height: 25%;
  width: 25%;
}

.modal-splash .modal-content {
  background-color: #00000000;
}

.modal-splash .modal-content .modal-header {
  background-color: #235494aa;
  color: #ffffff;
}

.modal-splash .modal-content .modal-body {
  background-color: #235494aa;
  color: #ffffff;
}

#headline {
  align-self: center;
}

a {
  color: #ff5757;
}
